<div id="main" class="palm-hasheader">
	<div class="palm-header">Einstellungen</div>
	<div class="palm-body-text" style="margin: 0;">
		<div class="palm-group">
			<div class="palm-group-title">Optionen</div>
			<div class="palm-list">
				<div class="palm-row first">
					<div x-mojo-element="ListSelector" id="studPrices" class="listselectorClass" name="studPrices"></div>
				</div>
				<div class="palm-row">
					<div x-mojo-element="ListSelector" id="permanentFilters" class="listselectorClass" name="permanentFilters"></div>
				</div>
				<div class="palm-row last">
					<div x-mojo-element="ListSelector" id="freeOrientation"></div>
				</div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Mensen</div>
			<div style="margin-bottom: 1em;">Je weniger Mensen gewählt sind desto weniger muss geladen werden und desto schneller läuft die Anwendung</div>
			<div class="palm-list" id="mensen" x-mojo-element='List'></div>
		</div>
	</div>
</div>
