body {
	margin-top: 1.0em;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #ffffff;
	background: url("../img/icon-200-white.png") no-repeat scroll center 20px #161210;
	padding-top: 200px;
}
#container {
	margin: 0 auto;
	width: 700px;
}
h1 {
	font-size: 3.8em;
	margin-bottom: 3px;
	text-align: center;
	text-shadow: 1px 1px 2px #FFFFFF, 1px -1px 2px #FFFFFF, -1px 1px 2px #FFFFFF;
}
h1 a {
	text-decoration: none;
	color: #222;
}
h2 {
	font-size: 1.5em;
	color: #e9edef;
	margin: 0 0 1em 0;
}
h3 {
	text-align: center;
	color: #e9edef;
}
a {
	color: #e9edef; }
pre {
	background: #000;
	color: #fff;
	padding: 15px;}
.footer {
	text-align:center;
	padding-top:30px;
	font-style: italic;
}

.app{
	float: left;
	width: 100%;
	margin-bottom: 3em;
}
.app > div{
	float: left;
	width: 44%;
	margin: 1em 3%;
	position: relative;
}
.app:nth-child(2n+1) > div{
	float: right;
}

.app img{
	max-width: 100%;
	max-height: 400px;
	-moz-transition: max-width max-height 0.4s;
}

.comming-soon{
	color: gray;
	font-style: italic;
}


.help{
	float: left;
	width: 50%;
	margin: 2em 0;
}
