
.item {
	padding: 10px;
/*
	border-bottom: 1px solid #0e0e0e;
*/
	cursor: pointer;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 1px #eee;
	overflow: hidden;
	text-overflow: ellipsis;
}
.onyx-toggle-button {
	text-shadow: none;
}
.item.first {
	border-top: none;
}
.item.last {
	border-bottom: none;
}

.dish{
	color: #000;
	font-size: 18px;
}
.mensa,
.name {
	color: #666;
	font-size: .8em;
}
.price {
	float: right;
}

.additives,
.properties{
	font-size: .9em;
	width: 49%;
	padding: 5px;
}
.additives{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	text-align: right;
}
.properties{
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.details-header{
	font-weight: bold;
}
.details-item{
	overflow: hidden;
	text-overflow: ellipsis;

}
