[submodule "enyo2/externals/enyo"]
	path = enyo2/externals/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "enyo2/externals/enyo2-lib"]
	path = enyo2/externals/enyo2-lib
	url = https://github.com/MacFJA/enyo2-lib.git
[submodule "enyo2/externals/layout"]
	path = enyo2/externals/layout
	url = https://github.com/enyojs/layout.git
[submodule "enyo2/externals/onyx"]
	path = enyo2/externals/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "enyo/shared/enyo-1"]
	path = enyo/shared/enyo-1
	url = https://github.com/enyojs/enyo-1.0.git
[submodule "enyo2/externals/gts-plugins"]
	path = enyo2/externals/gts-plugins
	url = https://bitbucket.org/GlitchTechScience/gts-plugins.git
[submodule "enyo2/externals/Newness-Labs"]
	path = enyo2/externals/Newness-Labs
	url = https://github.com/Newness/Labs.git
