[submodule "enyo2/externals/layout"]
	path = enyo2/externals/layout
	url = https://github.com/enyojs/layout.git
[submodule "enyo2/externals/onyx"]
	path = enyo2/externals/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "diskontinued-frameworks/enyo/shared/enyo-1"]
	path = diskontinued-frameworks/enyo/shared/enyo-1
	url = https://github.com/enyojs/enyo-1.0
[submodule "enyo2/externals/gts-plugins"]
	path = enyo2/externals/gts-plugins
	url = https://bitbucket.org/GlitchTechScience/gts-plugins.git
[submodule "enyo2/externals/Newness-Labs"]
	path = enyo2/externals/Newness-Labs
	url = https://github.com/Newness/Labs.git
[submodule "enyo2/phone/enyo"]
	path = enyo2/phone/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "enyo2/tablet/enyo"]
	path = enyo2/tablet/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "blackberry/bb10-phone/sdk"]
	path = blackberry/bb10-phone/sdk
	url = https://github.com/badtoyz/BB10-WebWorks-SDK-linux-1.0.4.11.git
[submodule "blackberry/bb10-phone/lib/enyo-bbui"]
	path = blackberry/bb10-phone/lib/enyo-bbui
	url = https://github.com/johannjacobsohn/enyo-bbui.git
[submodule "blackberry/bb10-phone/lib/layout"]
	path = blackberry/bb10-phone/lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "blackberry/bb10-phone/enyo"]
	path = blackberry/bb10-phone/enyo
	url = https://github.com/enyojs/enyo.git
