body {
	font-family: BBAlpha Sans, Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 30px;
	color: #fff;
	background-color: #000;
}

.today{
	color: rgb(0, 168, 223);
}

.fixed,
.fixed .caption{
	position: fixed;
	top:0;
	background: red;
}
.hidden{
	position: absolute;
	left: 999em;
}

/*
	size those pesky elements like inputs, textareas, iframes, etc.
	in tempermental browsers (ff, ie)
 */
.enyo-view-fit {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
}

.search-spinner {
	margin: auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	margin-top: 150px;
}
.simple-scroller {
/*
	overflow-y: auto;
*/
	overflow: scroll;
	-webkit-overflow-scrolling: -blackberry-touch;
/*
	-webkit-overflow-scrolling: touch;
*/
}

small{
	display: block;
	font-size: 20px;
	line-height: 0px;
}
/*

.filter-item-double{
	clear: both;
	overflow: auto;
}
*/

.filter-item-tripple .label,
.filter-item-double .label{
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 407px;
	line-height: 120px;
}

.loading-message,
.empty-message{
	color: #666;
	margin: 100px auto;
	position: absolute;
	width: 100%;
	text-align: center;
}
.empty-message{
	margin-top: 150px;
}
.onyx-toolbar .onyx-icon-button {
	background-position: center 0;
}

.navButton{
	min-width: 25%;
}

.selected{
	background: red;
}
