#menu{
	/* this is nessasary to have for flick gestures an empty pages: */
	min-height: 300px;
}
.palm-row{
	padding: 4px 0 10px 0;
	position: relative;
}

.name, .mensa{
	color: #bbb;
	font-size: 80%;
}
.name{
	margin-left: 5px;
}

.dish{
	display: block;
	margin: 0 5px;
}

.price{
	font-size: 20px;
	color: #666;
	position: absolute;
	top: 2px;
	right: 2px;
}

#spinner{
	margin: 1em auto;
	display: block;
}
#spinner:after{
	content: "… lädt …";
	display: block;
	padding-top: 150px;
	text-align: center;
	color: #191919;
	font-weight: bold;
	float: left;
	width: 100%;
}

.properties, .additives{
	width: 46%;
	padding: 2%;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.properties li, .additives li,
.properties ul, .additives ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.filterCheckboxLabel{
	font-size: 60%;
	clear:both;
	text-align:center;
	margin-left: -8px;
}

.checkbox-wrapper{
	float:right;
/* 	font-size: 80%; */
}

.filter-title{
	font-size: 18px!important;
}

.mensa-item{
	padding-left: 4px;
}
