.palm-row{
	padding: 4px 0 10px 0;
	position: relative;
}

.name{
	color: #bbb;
	font-size: 80%;
}

.dish{
	display: block;
}

.price{
	font-size: 20px;
	color: #666;
	position: absolute;
	top: 2px;
	right: 2px;
}

#spinner{
	margin: 1em auto;
	display: block;
}
#spinner:after{
	content: "… lädt …";
	display: block;
	padding-top: 150px;
	text-align: center;
	color: #191919;
	font-weight: bold;
}
