<div id="main" class="palm-hasheader">
	<div data-role="page" id="config" data-add-back-btn="true" class="palm-body-text">

		<div class="palm-hasheader">
			<div class="palm-header">
				Filtern
			</div>
		</div>

		<div data-role="content">

			<div class="palm-group">
				<div class="palm-group-title">Optionen</div>
					Zeige Filter
					<div x-mojo-element="ListSelector" id="studPrices" class="listselectorClass"  name="studPrices"></div>
			</div>

			<div class="palm-group">
				<div class="palm-group-title">Mensen</div>
				Je weniger Mensen gewählt sind desto weniger muss geladen werden und desto schneller läuft die Anwendung
				<div id="config-content"></div>
			</div>
		</div>
	</div>
</div>
