<div id="main" class="palm-hasheader">
	<div class="palm-header">Filtern</div>
	<div class="palm-body-text" style="margin: 0;">
		<div class="palm-group">
			<div class="palm-group-title">Nach Mensa filtern</div>
			<div class="palm-list" id="filter-mensa" x-mojo-element='List'></div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title">Nach Gericht filtern</div>
			<div class="palm-list" id="filter-name" x-mojo-element='List'></div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title">Nach Zusatzstoffen filtern</div>
			<div class="palm-list" id="filter-additives" x-mojo-element='List'></div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title">Nach Eigenschaften filtern</div>
			<div class="palm-list" id="filter-properties" x-mojo-element='List'></div>
		</div>
	</div>
</div>
