body {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 16px;
	color: #333;
	background-color: #d8d8d8;
}
.search-spinner {
	margin: auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	margin-top: 150px;
}
.loading-message,
.empty-message{
	color: #666;
	margin: 100px auto;
	position: absolute;
	width: 100%;
	text-align: center;
}
.empty-message{
	margin-top: 150px;
}
.onyx-toolbar .onyx-icon-button {
	background-position: center 0;
}

body .onyx-toolbar .onyx-icon-button:active,
body .onyx-icon.active,
body .onyx-icon:active:hover {
	background-position: center -32px;
}


.include{
	b-ackground: green;
}
.exclude{
	b-ackground: red;
}

.panel{
	min-width: 15%;
	width: 180px;
}
.flyout,
.panel{
	background-color: #D8D8D8;
}

.panel:before, .flyout:before {
	content: ".";
	color: transparent;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 20px;
	left: -20px;
	background: url(../assets/shadow.png) repeat-y;
	background-size: 20px 2px;
	pointer-events: none;
}

.filter-qantifier{
	font-size: 0.7em;
	line-height: 0.9;
	text-align: center;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px #999;
	padding: 4px;
	float: left;
	width: 25%;
	margin-right: 5%;
}
.filter-content{
	float: left;
	width: 70%;
}

.popup-header{
	font-size: 1.2em;
	text-align: center;
}
.popup-content{
	padding: .5em 0;
}

.onyx-popup .onyx-button{
	width: 100%;
	margin-top: .5em;
}

.onyx-popup .gts-ToggleBar {
	padding: 8px;
}

.menu-button{
	margin: 0.5em;
}

