joview.title{

}


jolistitem{
	overflow-y: auto;
}

jolistitem * {
	margin: 0;
	padding: 0;
	text-shadow: #E3E3E3 0 1px 1px;
}

jolistitem h2 {
	font-size: 120%;
}

jolistitem .price {
	float: right;
	color: #666;
}
jolistitem .name {
	float: left;
}




jotoolbar joexpando{
	max-width: 33%;
}

