li{
	text-shadow: 1px 1px 1px #333;
}
.dish{
	color: #fff;
	text-shadow: 1px 1px 1px #222;
}
.type{
	display: block;
	font-size: 0.8em;
}
.price{
	float: right;
	text-shadow: inset 1px 1px 1px #222;
}
