<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "jjacobsohn.mensaApp.phone"
		versionCode="10" 
		version   = "2.0.0">

	<name>Mensa Hamburg Phone</name>

	<description>
		Wann gibt es welches Essen in welcher Mensa? Eine App von Studenten für Studenten.
	</description>

	<author href="http://johannjacobsohn.github.com/Mensa-Hamburg-App/" email="mensa-hamburg-app@directbox.com">
		Johann Jacobsohn
	</author>

	<!-- please note that default means both landscape and portrait are enabled. If you want to use each platform's default settings (usually portrait-only), just remove this tag from your config.xml
	-->
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="handset" />
	<!--
		target-device with possible values handset, tablet, or universal
			example: <preference name="target-device" value="universal" />
			please note that this currently only applies to iOS builds; by default all builds are universal
	-->

	<preference name="prerendered-icon" value="true" />	

	<icon src="icon.png" />

	<icon src="img/icons/ios/icon-57x57.png"         gap:platform="ios" width="57"  height="57"  />
	<icon src="img/icons/ios/icon-72x72.png"         gap:platform="ios" width="72"  height="72"  />
	<icon src="img/icons/ios/icon_at_2x-114x114.png" gap:platform="ios" width="114" height="114" />

	<icon src="img/icons/android/xhdpi-96x96.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="img/icons/android/hdpi-72x72.png"  gap:platform="android" gap:density="ldpi"  />
	<icon src="img/icons/android/ldpi-36x36.png"  gap:platform="android" gap:density="mdpi"  />
	<icon src="img/icons/android/mdpi-48x48.png"  gap:platform="android" gap:density="hdpi"  />

	<icon src="img/icons/bb/icon-68x68.png"       gap:platform="blackberry" />
	<icon src="img/icons/bb/icon_hover-68x68.png" gap:platform="blackberry" gap:state="hover"/>

	<icon src="img/icons/winphone/icon-64x64.png"       gap:platform="winphone" />
	<icon src="img/icons/winphone/tileicon-173x173.png" gap:platform="winphone" gap:role="background" />

	<!-- Splash -->
	<gap:splash src="splash.png" />
	<gap:splash src="img/splash/ios/Default-320x480.png"             width="320" height="480" />
	<gap:splash src="img/splash/ios/Default_at_2x-640x960.png"       width="640" height="960" />
	<gap:splash src="img/splash/ios/Default-Landscape-1024x768.png " width="1024" height="768" />
	<gap:splash src="img/splash/ios/Default-Portrait-768x1024.png"   width="768" height="1024" />

	<gap:splash src="img/splash/android/ldpi-480x320.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="img/splash/android/mdpi-960x640.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="img/splash/android/hdpi-1024x768.png" gap:platform="android" gap:density="hdpi" />

	<gap:splash src="img/splash/bb/splash.png" gap:platform="blackberry" />

	<gap:splash src="img/splash/winphone/splash-480x800.jpg " gap:platform="winphone" />

	<!-- If you do not want any permissions to be added to your app, add the
		following tag to your config.xml; you will still have the INTERNET
		permission on your app, which PhoneGap requires. -->
	<preference name="permissions" value="none"/>
	<access origin="http://127.0.0.1*"/>
	<access origin="http://speiseplan.studierendenwerk-hamburg.de"/>
</widget>
